.idea
.env
node_modules
build
npm-debug.log
.DS_Store
logs
public/robots.txt
.nyc_output
coverage
*.lcov

# ignoring index.html in public folder because it will be regenerated upon new data
public/index.html