:root {
    --red: #FF4E71;
    --yellow: #FFFF5C;
    --green: #18E19B;
    --dark-1: #272A3F;
    --dark-2: #222437;
    --dark-3: #1C1E2F;
    --dark-4: #171927;
    --dark-5: #151724;
    --white-1: #E5E5E5;
    --white-2: #D1D1D1;
    --white-3: #B3B3B3;
    --focus-1: #727CF5;
    --focus-2: #5b63c4;
    --focus-3: #334D90;
    --scrollbar: #525565;
    --navbar-height: 80px;
    --primary-font: 'Rubik';
}

body {
    background-color: var(--dark-4);
    font-family: var(--primary-font), sans-serif;
    letter-spacing: 1px;
}

a {
    text-decoration: none !important;
    color: var(--focus-1);
}

a:hover {
    color: var(--focus-2);
}

#map-col {
    height: calc(100vh - 220px);
}

#list-col {
    min-height: 80vh;
    max-height: 95vh;
}

.col-md-left, .col-md-right {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

#list-container {
    background-color: var(--dark-3);
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    html, body {
        height: 100%;
    }

    main {
        height: calc(100% - var(--navbar-height));
    }

    .row, #list-col, #map-col {
        height: 100%;
    }

    .col-md-left {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }

    .col-md-right {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }

    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
}

.navbar-toggler, .navbar-toggler:focus {
    border: none;
    outline: none;
    padding: 0;
}

.navbar .dropdown-toggle, .navbar-dark .navbar-nav .nav-link,
.navbar .dropdown-toggle:focus, .navbar-dark .navbar-nav .nav-link:focus,
.navbar .dropdown-toggle.focus, .navbar-dark .navbar-nav .nav-link.focus {
    color: white;
}

.navbar .dropdown-toggle:hover, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--white-2)
}

.navbar-collapse {
    flex-grow: 0;
}

.dropdown-toggle:after {
    display: none;
}

.dropdown-toggle[aria-expanded="true"] > .bi-chevron-down {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.dropdown-toggle > .bi-chevron-down {
    transition: transform .3s ease-in-out;
}

.dropdown-menu {
    background-color: var(--dark-1);
    border-radius: 0;
    left: 50%;
    top: 150%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dropdown-menu a {
    color: var(--white-1);
}

.dropdown-item.active, .dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

#scrollable-list {
    margin-right: -11px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;
}

*::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

*::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: var(--dark-3);
}

*::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 6px;
    border: 3px solid var(--dark-3);
}

*::-webkit-scrollbar-corner {
    background-color: var(--dark-3);
}

pre::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    border: 4px solid var(--dark-3);
}

.list-item {
    background-color: var(--dark-2);
    padding: 0.5rem 0.75rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: var(--white-1);
    cursor: pointer;
    border-bottom: 0.25px solid var(--dark-3);;
}

.list-inner-item {
    background-color: var(--dark-1);
    padding: 0.55rem 1rem;
    font-size: 0.9rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: var(--white-1);
    border-bottom: 0.25px solid var(--dark-2);;
}

.list-item:before {
    float: right !important;
    content: "+";
}

.list-item[aria-expanded="true"]:before {
    content: "\2013";
}

.search-result-item {
    background-color: var(--dark-2);
    padding: 0.5rem 0.75rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: var(--white-1);
    border-bottom: 0.25px solid var(--dark-3);;
}

#search {
    color: var(--white-1);
    background-color: var(--dark-5);
    border-radius: 0;
    border: none;
    padding-left: 2.3rem;
    letter-spacing: 1px;
    transition: box-shadow 0.15s ease-in-out;
    flex-shrink: 0;
}

#search:focus, #search:hover {
    color: var(--white-1);
    background-color: var(--dark-5);
    box-shadow: 0 0 0.5rem 0.2rem var(--focus-3);
}

#search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 1.3em;
    width: 1.3em;
    margin-right: -3px;
    background-image: url("data:image/svg+xml,%3Csvg width='1.3em' height='1.3em' viewBox='0 0 16 16' class='bi bi-x' fill='%23B3B3B3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z'/%3E%3Cpath fill-rule='evenodd' d='M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z'/%3E%3C/svg%3E");
}

#search::-webkit-input-placeholder {
    color: var(--white-2);
}

#search::-moz-placeholder {
    color: var(--white-2);
}

#search:-ms-input-placeholder {
    color: var(--white-2);
}

#search::-ms-input-placeholder {
    color: var(--white-2);
}

#search::placeholder {
    color: var(--white-2);
}

#search + .bi-search {
    color: var(--white-2);
    position: absolute;
    left: 0.75rem;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#text-no-results {
    font-size: 0.9rem;
    color: var(--white-2);
    text-align: center;
    padding: 1rem 1rem;
}

.text-copyright {
    color: var(--white-2);
    font-size: 0.85em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 0;
}

.text-copyright a {
    color: var(--white-2);
}

.text-copyright a:hover {
    color: var(--white-3);
}

.text-last-updated {
    color: var(--white-2);
    margin-bottom: 0;
}

.indicator {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.4em;
}

.text-legend {
    color: var(--white-2);
    font-size: 0.95em;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .text-legend {
        font-size: 0.85em;
    }
}

.text-quote {
    padding-left: 1em;
    font-style: italic;
    border-left: 3px solid var(--green);
}

.text-version {
    margin: 0;
    font-size: 0.8rem;
    font-style: italic;
    text-align: right;
    color: var(--white-3);
}

.text-heading {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: white;
}

.text-sub {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.modal pre {
    font-size: 0.85em;
    overflow: overlay;
    color: var(--white-2);
    padding: 0.9rem;
    background-color: var(--dark-3);
    max-height: 220px;
}

.modal code {
    font-size: 0.8rem;
    color: var(--white-2);
    padding: 5px;
    background-color: var(--dark-3);
}

.modal li {
    font-size: 0.8rem;
    padding-bottom: 0.3em;
}

.btn-circle {
    color: white;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    text-align: center;
    background-color: var(--dark-1);
}

.btn-circle:hover {
    color: white;
}

.btn:focus, .btn.focus {
    box-shadow: none;
}

.btn-circle:disabled, .btn-circle.disabled {
    cursor: default;
}

.btn-circle:not(:disabled):not(.disabled):hover {
    box-shadow: 0 0 0.5rem 0.2rem var(--focus-3);
}

.btn-circle:not(:disabled):not(.disabled):active, .btn-circle:not(:disabled):not(.disabled).active,
.show > .btn-circle.dropdown-toggle {
    transition: transform .1s ease-in-out;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

#map:active {
    cursor: move;
}

path[data-name][data-total]:hover {
    cursor: pointer;
}

.tippy-arrow {
    color: var(--dark-1);
}

.tippy-box {
    border-radius: 0;
    background-color: var(--dark-1);
}

.tippy-box[data-animation=shift-toward-extreme][data-state=hidden] {
    opacity: 0
}

.tippy-box[data-animation=shift-toward-extreme][data-state=hidden][data-placement^=top] {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

.tippy-box[data-animation=shift-toward-extreme][data-state=hidden][data-placement^=bottom] {
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}

.tippy-box[data-animation=shift-toward-extreme][data-state=hidden][data-placement^=left] {
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}

.tippy-box[data-animation=shift-toward-extreme][data-state=hidden][data-placement^=right] {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.tippy-content {
    padding: 0;
}

.pop-up {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    text-align: center;
}

.modal-backdrop.show {
    opacity: .3;
}

.modal-content {
    border-radius: 0;
    background-color: var(--dark-2);
}

.modal-header {
    border: 0;
    padding: 1.5em 1.7em 0 1.7em;
    color: white;
}

.modal-body {
    padding: 1.5em 1.7em;
    color: var(--white-2);
    font-size: 0.95em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.modal-header .close {
    font-weight: normal;
    color: white;
    opacity: .9;
    text-shadow: none;
}

.modal-header .close:hover {
    color: white;
}

.nav-tabs {
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-bottom: 0;
}

.nav-tabs::-webkit-scrollbar {
    display: none;
}

.nav-tabs .nav-link {
    color: var(--white-2);
    white-space: nowrap;
    border: 0;
    font-size: 1rem;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    color: var(--focus-1);
    background-color: transparent;
    border-bottom: 3px solid var(--focus-1);
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    color: var(--focus-1);
}

.fill-red {
    fill: var(--red);
}

.fill-yellow {
    fill: var(--yellow);
}

.fill-green {
    fill: var(--green);
}

.bg-red {
    background-color: var(--red);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-green {
    background-color: var(--green);
}

.border-left-red {
    border-left: .25rem solid var(--red);
}

.border-right-red {
    border-right: .25rem solid var(--red);
}

.border-top-red {
    border-top: .25rem solid var(--red);
}

.border-left-yellow {
    border-left: .25rem solid var(--yellow);
}

.border-right-yellow {
    border-right: .25rem solid var(--yellow);
}

.border-top-yellow {
    border-top: .25rem solid var(--yellow);
}

.border-left-green {
    border-left: .25rem solid var(--green);
}

.border-right-green {
    border-right: .25rem solid var(--green);
}

.border-top-green {
    border-top: .25rem solid var(--green);
}

.absolute-top-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.absolute-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.absolute-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (min-width: 768px) {
    .absolute-md-top-left {
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
    }
}